@use "variables";

.listing-create-page {
    width: 100vw;
    height: 100vh;
}

.lcp-header {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
}

.lcp-body {
    height: calc(100% - 160px);
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.lcp-footer {
    height: 80px;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: white;
}

.lcpf-progress-bar {
    height: 6px;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

.lcp-footer-content {
    height: calc(100% - 6px);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.black-underline-hover-btn {
    color: black;
    text-decoration: underline;
    height: 42px;
    padding: 0 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    &:hover {
        cursor: pointer;
        background-color: #eee;
    }
}

.lcpf-progress-bar-fill {
    height: 100%;
    background-color: rgb(34, 34, 34);
    transition: 600ms;
}

.lcp-header-content {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.creator-wrapper {
    max-width: 640px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.creator-wrapper-title {
    font-size: 30px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}

.creator-wrapper-subtitle {
    font-size: 20px;
    color: rgb(113, 113, 113);
}

.icon-label-btn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 88px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid rgb(221, 221, 221);
    position: relative;
    transition: scale 0.1s ease-in-out;
    &:active{
        scale: 0.97;
    }
    &:hover {
        cursor: pointer;
    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: -2px;
        left: -2px;
        border: 2px solid black;
        border-radius: inherit;
    }
    }
    &.chosen{
        background-color: rgb(241, 241, 241);
        &::after{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: -2px;
            left: -2px;
            border: 2px solid black;
            border-radius: inherit;
        }   
    }
}

.property-types {
    user-select: none;
    display: flex;
    gap: 16px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 24px;
}

.third-flex {
    flex: 0 1 calc(33% - calc(32px / 3));
}

.lcp-body-content {
    padding: 32px 1px;
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    &::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
    }
    display: flex;
}

.icon-image {
    width: 32px;
    height: 32px;
}

.location-creator {
    margin-top: 24px;
    padding-right: 10px;
    box-sizing: border-box;
    position: relative;
}

.nav-dropdown-space {
    height: 300px;
}

.relative {
    position: relative;
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 24px;
}

.readonly-creator {
    box-sizing: border-box;
    padding: 32px 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
}

.rc-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 250px;
    gap: 24px;
}

.readonly-creator-title {
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}

.readonly-creator-description {
    font-size: 16px;
    color: rgb(113, 113, 113);
}

.readonly-creator-image {
    width: 100%;
    border-radius: 8px;
    background-color: rgb(221, 221, 221);
    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}

.rc-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.ac-amenities {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

.amenities-creator {
    margin-top: 32px;
}

.title-creator {
    margin-top: 24px;
}

.description-creator {
    margin-top: 24px;
}

.price-creator {
    margin-top: 24px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.big-price{
    font-size: 64px;
    display: inline-block;
    margin: 0;
    width: 90%;
    font-weight: 600;
    color: rgb(34, 34, 34);
    outline: none;
    border: none;
}

.price-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.big-dollar {
    font-size: 64px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.next-button {
    &:disabled {
        background-color: rgb(221, 221, 221);
        color: white;
        border: none;
        &:hover {
            cursor: not-allowed;
            background-color: rgb(221, 221, 221);
        }
    }
    &.publish{
        background-color: variables.$brand-color;
        &:hover {
            background-color: variables.$brand-color;
            filter: brightness(110%);
        }
    }
    &.publishing{
        background-color: rgb(221, 221, 221);
        &:hover {
            background-color: rgb(221, 221, 221);
            filter: brightness(110%);
        }
    }
}

.string-edit-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.amenities-edit-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}