$picture-bottom-margin:12px;

.font-weight-normal{
  font-weight: normal;
  font-style: normal;
}

.listing-box {
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-position: unset;
    object-fit: cover;
  }
  display: flex;
  flex-direction: column;
  background: transparent;
  border-radius: 8px;
  width: auto;
  height: fit-content;
  position: relative;
}

.picture-slider {
  position: relative;
  margin-bottom: $picture-bottom-margin;
  width: 100%;
  height: 100%;
}

.pictures-controls-and-window{
  display: grid;
  grid-template: 'header' 'scroller' 'footer' / minmax(0,1fr);
}

.content-scroller-box{
  display: flex;
  flex-flow: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px 12px 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.like-grid{
  flex: 1 0;
  display: grid;
  grid-column-gap: 16px;
  grid-template-columns: repeat(2,minmax(min-content,auto));
}

.empty-part{
  justify-self: flex-start;
} 
.like-holder{
  justify-self: flex-end;
}

.like{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.like-button{
  background-color: transparent;
  pointer-events: auto;
  border-radius: 50%;
  border: none;
  transition: transform 0.25s cubic-bezier(0.2, 0, 0, 1);
  margin: -2px 0 0;
  padding: 2px 0 0 0;
  color: #222222;
  
  &:active{
    transform: scale(.92);
  }
}



.arrows-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(min-content, auto));
  grid-column-gap: 16px;
  flex: 1 0;
  margin-bottom: 12px;
}

.left-arrow{
  justify-self: flex-start;
}

.right-arrow{
  justify-self: flex-end;
}

.bottom-points{
  flex: 1 0;
  display: grid;
  align-items: flex-end;
  grid-column-gap: 16px;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
}

.justify-self-start{
  justify-self: flex-start;
}

.justify-self-end{
  justify-self: flex-end;
}

.justify-self-center{
  justify-self: center;
}

.bullets-holder{
  height: 100%;
  display: flex;
  max-width: 55px;
  overflow: clip;
}

.bullets-container{
  padding-bottom: 12px;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.bullets{
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.bullet-load{
  width: 6px;
  height: 6px;
  box-sizing: border-box;
  background: white;
  border-radius: 50%;
  margin-right: 2.5px;
  margin-left: 2.5px;
}

.opacity-low{
  opacity: 0.6;
}

.opacity-high{
  opacity: 1;
}

.scale-high{
  transform: scale(1);
}

.scale-mid{
   transform: scale(calc(5/6));
 }

.scale-low{
    transform: scale(calc(2/3));
  }

.picture-controls{
  grid-area: header;
  place-self: auto end;
}

.window{
  border-radius: 12px;
  position: relative;
  overflow: clip;
}

.aspect-ratio{
  aspect-ratio: 20/19;
}

.window-dimension{
  min-width: 0;
  height: 100%;
  position: unset;
}

.image-ref{
  display: block;
}

.image-holder{
  position: relative;
  width: 100%;
  height: 100%;
}

.picture-container {
  contain: layout size style;
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  gap:0;
  position: unset;
  grid-template-rows: none;
  grid-template-areas: none;
  justify-content: flex-start;
  height: 100%;
  border-radius: 8px;
  grid-auto-columns: 100%;

  &:hover + .arrow-container {
    opacity: 1;
  }
  
}

.image-container{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ebebeb;
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  width: 100%;
  min-height: 1px;
}

/*.arrow-container {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  justify-content: space-between;
  z-index: 1;
  
  opacity: 0;
  transition: opacity 0.3s;

  .arrow {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}*/

.listing-info {
  display: grid;
  gap: 2px 8px;
  grid-template-rows: unset;
  grid-template-columns: minmax(0, 1fr) max-content;
  font-size: 15px;
  line-height: 19px;
}

.title {
  font-size: 15px;
  font-weight: 600;
  height: fit-content;
}

.distance,
.availability,
.title{
  overflow: clip;
  &:not(.title){
    grid-column: 1/-1;
    color: dimgray;
  }
}


.price {
  margin-top: 6px;
  grid-column: 1/-1;
}

.rating {
  display: flex;
  align-items: center;
  grid-column: -2 / -1;
  grid-row: 1;
  justify-self: end;

  .star {
    margin-right: 5px;
  }
}
