$grid-gap-vertical : 40px;
$grid-gap-horizontal : 24px;

.listing-holder
{
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: $grid-gap-vertical $grid-gap-horizontal;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  padding: 0 40px 0 40px;
}
