.listings-table {
    width: 100%;
    border-collapse: collapse;
}

.listings-table-header {
    border-bottom: 2px solid #c3c3c3;
}

.listing-table-header-cell {
    padding: 8px;
    display: table-cell;
    text-align: left;
    color: rgb(113,113,113);
    text-transform: uppercase;
    white-space: nowrap;
    position: sticky;
    top: 0;
    background: white;
}

.listings-table-body {
    border-collapse: collapse;
}