.listing-update-section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @media (min-width: 1128px) {
        padding: 0 160px;
    }
    @media (min-width: 2000px) {
        padding: 0 320px;
    }
    padding: 0 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.lush-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lush-title {
    font-size: 24px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.change-listing {
    font-size: 14px;
    user-select: none;
    color: rgb(113, 113, 113);
    display: flex;
    align-items: center;
    gap: 4px;
    width: fit-content;
    padding: 4px;
    position: relative;
    &:hover {
        background-color: #EBEBEB;
    }
    border-radius: 8px;
    svg{
        transform: rotate(-90deg);
    }
    cursor: pointer;
}

.left-sticky-nav-bar {
    position: sticky;
    top: 24px;
    width: 25%;
    max-width: 250px;
    height: fit-content;
    margin-right: 7.33333%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 12px;
    border-right: 1px solid rgb(221, 221, 221);
}

.right-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.lus-body-content {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.lus-header {
    margin-top: 32px;
    position: relative;
}

.lus-nav-btn {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    border-radius: 12px;
    justify-content: flex-start;
    align-items: center;
    background-color: #EBEBEB;
    font-size: 16px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}

.details-list {
    margin: 12px;
    cursor: pointer;
    border-left: 1px solid rgb(221, 221, 221);
}

.d-list-item {
    padding-left: 12px;
    border-left: 2px solid;
    border-left-color: transparent;
    &.d-active {
        border-left-color: rgb(34, 34, 34);
        font-weight: 500;
    }
    margin-bottom: 12px;
}

.listing-detail {
    width: 100%;
}

.listing-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    margin-bottom: 24px;
}

.listing-detail-title {
    font-size: 24px;
    font-weight: 500;
    color: rgb(34, 34, 34);
}

.name-title-and-edit {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.name-title {
    font-size: 20px;
    color: rgb(34, 34, 34);
}

.value {
    font-size: 16px;
    color: rgb(113, 113, 113);
}

.string-edit-mode {
    position: relative;
    display: flex;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 16px;
    padding: 24px;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.selector {
    width: 100%;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #EBEBEB;
    font-size: 16px;
    padding: 16px;
    &:disabled{
        background-color: #f7f7f7;
        appearance: none;
        color: #666666;
    }
}

.lus-body {
    margin-top: 24px;
}

.change-listing-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    z-index: 1000;
}

.cls-search {
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    outline: none;
    background-color: white;
    display: flex;
    gap: 4px;
    align-items: center;
    border: 1px solid #EBEBEB;
    font-size: 16px;
    svg{
        color: #666666;
    }
}

.cls-search-input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
}

.cls-results {
    width: 100%;
    background-color: white;
    border: 1px solid #EBEBEB;
    border-top: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    top: 100%;
    left: 0;
    z-index: 1000;
    max-height: 300px;
    overflow-y: auto;
}

.cls-result{
    padding: 16px;
    box-sizing: border-box;
    cursor: pointer;
    &:not(:last-child){
        border-bottom: 1px solid #EBEBEB;
    }
    &:hover {
        background-color: #f7f7f7;
    }
}