$brand-color : rgb(85, 26, 139);

// NavBar.scss
.navbar {
  display: flex;
  align-items: center;
  position: sticky;
  flex-wrap: wrap;
  top:0;
  z-index: 10;
  height: 80px;
  padding: 0 40px;
  font-size: 16px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
}

.left,
.right {
  flex: 1 0 140px;
  width: 140px;
  height: 100%;
  
  .item {
    display: inline-flex;
    height: 80px;
    align-items: center;
    vertical-align: middle;
  }
}

.middle {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.middle-item{
  display: inline-flex;
  align-items: center;
  flex: 1 0 auto;
  position: relative;
  max-width: 700px;
  transition: all 0.2s ease-in-out;
  background-color: white;
  vertical-align: middle;
  border: 1px solid lightgray;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
  &:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
  }
}

.gray-hover{
  &:hover{
    background-color: #EBEBEB;
  }
}

.nav-btn{
  display: flex;
  border: none;
  background-color: transparent;
  height: 100%;
  font-size: 14px;
  padding: 0;
  cursor: pointer;
  flex: 0 1 auto;
  position: relative;
  border-radius: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  &:hover{
    input{
       background-color: #EBEBEB;
    }
  }
  
  .word{
    font-weight: 600;
    white-space: nowrap;
    line-height: 22px;
    padding: 0 12px;
  }
  
  .grayword{
    font-weight: normal;
    color: dimgray;
  }
}

.selected-nav-btn{
  &:hover{
    background-color: white;
  }
  background-color: white;
  input{
    background-color: white !important;
  }
  box-shadow: 0 8px 8px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
}

.w-80px{
    width: 80px;
}

.w-fit{
    width: fit-content;
}

.search-icon-btn{
  position: absolute;
  right: 0;
  background-color: $brand-color;
  height: 32px;
  width: 32px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  border-radius: 32px;
}

.search-icon-bigger{
  transition: all 0.2s ease-in-out;
  height: 42px !important;
  width: 42px !important;
  border-radius: 21px !important;
  svg{
    min-width: 42px;
  }
}

.full-gray{
  background-color: #EBEBEB;
  input{background-color: #EBEBEB;}
}

.add-guests{
  padding-right: 32px;
}

.add-guests-big{
   padding-right: 48px;
}

.divider-bar{
  height: 24px;
  width: 1px;
  flex: 0 0 1px;
  background-color: lightgray;
}

.lens-icon{
   display: block; fill: none; color:white; height: 12px; width: 12px; stroke: currentcolor; stroke-width: 5.33333px; overflow: visible;
}

.right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.host-options{
  display: flex;
  white-space: nowrap;
  margin-right: 8px;
  justify-content: flex-end;
  -moz-box-pack: end;
  flex: 1 1 auto;
  .hosting{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: currentColor;
    height: 42px;
    display: inline-flex;
    border-radius: 22px;
    align-items: center;
    padding: 0 12px;
    &:hover{
      background-color: lightgray;
    }
  }
  .lan-button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: currentColor;
    height: 42px;
    display: inline-flex;
    border-radius: 22px;
    align-items: center;
    padding: 0 12px;
    &:hover{
      background-color: lightgray;
    }
  }
}

.globe-logo{
  display: block; height: 16px; width: 16px; fill: currentcolor;
}

.nav-wrapper {
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.search-bar {
  width: 100%;
  height: 48px;
  background-color: red;
}

.check-out {
  font-weight: 600;
  white-space: nowrap;
  line-height: 22px;
  padding: 0 12px;
}

.close-search-bar {
  margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    &:hover{
      background-color: #EBEBEB;
    }
}


.search-bar-input {
  width: 80%;
  border: none;
  font-size: 12px;
  border-radius: 40px;
  margin: 0 12px;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}

.nav-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 32px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
  z-index: 10;
}

.right-40 {
    right: 40px !important;
    left: unset;
}

.w-full {
    width: calc(100% - 40px) !important;
}

.search-icon {
  color: white;
  min-width: 32px;
}

.button-selected{
  width: 92px !important;
  transition: all 0.2s ease-in-out;
}

.search-icon-text {
  position: absolute;
  left: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
  white-space: nowrap;
    padding-right: 8px;
}

.addresses {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
}

.address {
    display: flex;
    align-items: center;
    padding: 8px 0;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
    &:hover{
      background-color: #f9f9f9;
    }
}

.address-icon {
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    background-color: #ebebeb;
    margin-right: 16px;
    margin-left: 16px;
}

.nav-dates {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.nav-guests {
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 8px 0;
  width: 25%;
}

.link {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  border-radius: inherit;
}