.listings-and-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    .listing-holder{
        grid-template-columns: repeat(6, minmax(0, 1fr));
        width: 100%;
    }
    /*.map-container{
        height: calc(100vh - 192px) !important;
        position: sticky !important;
        top: 192px !important;
        width: 40% !important;
    }*/
}

.search-page{
    .property-type-slider{
        top: 80px !important;
        border-bottom: 1px solid #dddddd;
    }
}