.trip {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 12px 24px rgba(0,0,0,0.05);
    border: 1px solid lightgray;
    border-radius: 12px;
    position: relative;
    * {
        box-sizing: border-box;
    }
    &:hover {
        box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 12px 24px rgba(0,0,0,0.15);
        .action-review-container {
            scale: 1;
        }
    }
    transition: box-shadow 0.1s ease-in-out;
    overflow: visible;
    margin-bottom: 24px;
}

.trip-info {
    display: flex;
    flex-direction: column;
    padding: 24px;
    width: 50%;
    .header-large {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.vertical-divider {
    height: 100%;
    width: 2px;
    margin: 0 1.5rem;
    background-color: #EBEBEB;
}

.flex-bottom-part {
    position: relative;
    display: flex;
    flex-direction: row;
}

.flex-left-part {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reg-text-med {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.reg-text-small {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.4;
}

.tp-image-section {
    width: 50%;
    position: relative;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
}

.days-left {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 500;
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 12px 0 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
}

.action-review-container {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    scale: 0;
    right: -15%;
    font-weight: 500;
    border-radius: 5px;
    transition: scale 0.2s ease-in-out;
    background-color: transparent;
    padding: 1rem 1rem;
    display: flex;
}

.action-review-button{
    background-color: white;
    color: black;
    border: 1px solid lightgray;
    padding: 1rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    font: inherit;
    transition: background-color 0.2s ease-in-out;
    &:disabled{
        opacity: 0.8;
        cursor: not-allowed;
        &:hover {
            background-color: white;
        }
    }
    &:hover {
        background-color: #f7f7f7;
    }
    box-shadow: 0 1px 2px rgba(0,0,0,0.08),0 4px 12px rgba(0,0,0,0.05);
}

.delete-review-button{
    background-color: red;
    margin-left: 4px;
    & svg {
        filter: invert(1);
        scale: 1.25;
    }
    &:hover {
        background-color: rgba(255, 0, 0, 0.7);
    }
    border: 1px solid lightgray;
    padding: 1rem 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 1px 2px rgba(0,0,0,0.18),0 4px 12px rgba(0,0,0,0.15);
}

.select-rating-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0.2rem 1rem;
    margin-top: 1rem;
    border-radius: 1.2rem;
    position: relative;
    border: 2px solid black;
    background-color: white;
    z-index: 2;
    svg{
        margin-left: 2px;
    }
}

.star-container {
    position: absolute;
    height: 100%;
    left: 0;
    z-index: 1;
    top: 0;
    width: calc(100%);
    border-radius: 1.2rem;
    background-color: #b4b4b4;
    &:hover {
        width: calc(100% + 240px);
    }
    transition: width 0.2s ease-in-out;
}

.rating-selector {
    &:hover {
        .star-container{
            width: calc(100% + 220px);
        }
    }
    position:relative;
    width: fit-content;
}

.rating-star {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    direction: rtl;
}

.rating-container{
    overflow-x: hidden;
}

.rating-overall {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.rap-submit {
    font-weight: 500;
    font-size: 1rem;
}

.lower-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.left-n15 {
    left: -15% !important;
    right: unset;
}

.flex-vertical {
    flex-direction: column;
}

.margin-t10 {
    margin-top: 10px;
}