.update-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 568px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.update-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 99;
}

.up-header {
    width: 100%;
    display: flex;
    span{
        width: 32px;
        height: 32px;
        display: flex;
        cursor: pointer;
        &:hover {
            background-color: #EBEBEB;
        }
        border-radius: 50%;
        transition: background-color 0.2s ease-in-out;
        justify-content: center;
        align-items: center;
    }
    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
}

.up-body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upop-avatar {
    position: relative;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.up-avatar-overlay {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 15%;
        height: 15%;
        position: absolute;
        fill: gray;
        z-index: -1;
    }
}

.change-avatar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
    transition: filter 0.2s ease-in-out;
    &::before{
        display: none;
    }
}

.up-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.up-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
}

.error-message {
    color: #ff2b2b;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 0.2s ease-in-out;
}

.current-rating {
    position: absolute;
    right: calc(100% - 500px);
    top: 50%;
    transform: translateY(-50%);
}